* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.heading {
  font-family: cursive, serif;
  text-align: center;
}

.para1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
}

input {
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  margin-left: 44%;
}

.todos-container {
  margin-top: 20px;
  margin-left: 44%;
}
